<div class="fluid-row">
<ul>
 <li>Canalización de ventas</li>
 <li>Porcentaje logrado con objetivo</li>
 <li>Clientes potenciales por origen</li>
 <li>Relación ventas anteriores meses</li>
</ul>
</div>
